*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Kode mono', sans-serif;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.bg-blue{
  padding: 30px;
  background-color: #008CBA;
}
.nav-link{
  color: #fff;
  border-bottom: 2px solid transparent;
}
.nav-link:hover{
  border-color: #1ee;
  color: #1ee;
}
h2.text-blue{
  color: #008CBA;
}
section#languages-section img{
  padding: 20px 0;
}
img.data{
  width: 70px;
  margin: 0 auto;
  display: block;
}
.bg-darkblue{
  background-color: #012345;
}
footer img{
  width: 50px;
}
footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
  padding: 20px;
}