*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Kode mono', sans-serif;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.bg-blue{
  padding: 20px;
  background-color: #008CBA;
  color: #fff;
  border-bottom: 3px solid #012345;
}
.nav-link{
  color: #fff;
  padding: 10px;
  border-bottom: 2px solid transparent;
}
.nav-link:hover{
  color: #1ee;
  border-color: #1ee;
}
input, textarea, button{
  margin-top: 20px;
  font-family: 'Kode mono';
}
textarea{
  height: 200px;
  resize: none;
}
.accordion-body{
  font-family: sans-serif;
}
#accordion-button{
  font-family: sans-serif;
}
footer img{
  width: 50px;
}
footer ul li{
  display: inline-block;
  padding: 20px;
}
.bg-darkblue{
  background-color: #012345;
}